@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
:root {
    /* colors */
    --primary-color :#ff900e1a;
    --dark1: #131313;
    --dark2: #424242;
    --dark3: #727272;
    --orange: #FF900E;
    --white: #ffffff;
    /* fonts */
    --primary-font: 'Work Sans', sans-serif;
    /* font weight  */
    --fw4: 400;
    --fw5: 500;
    --fw6: 600;
    --fw7: 700;
    /* width */
    --percent50: 50%;
    --percent100: 100%;
    /* shadow  */
    --shadow: 5px 5px 10px rgba(0,0,0,0.03), -5px -5px 10px rgba(0,0,0,0.03);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}
/* common codes */
/* common css code  */
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}
.primary {
    color: var(--primary)
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
h1 {
    font-size: 3.2rem;
    line-height: 3.5rem;
}
h2 {
    font-size: 2.2rem;
}
h3 {
    font-size: 1.2rem;
}
p {
    font-size: 1rem;
}
.btn-primary {
    padding: 1.9rem 2.2rem;
    background: var(--orange);
    border-radius: 5px;
    text-align: center;
    color: var(--white);
    font-size: 1.3rem;
}
.font-bold {
    font-weight: bold;
}
.font-weight4{
    font-weight: var(--fw4);
}
.font-weight5{
    font-weight: var(--fw5);
}
.font-weight6{
    font-weight: var(--fw6);
}
.font-weight7{
    font-weight: var(--fw7);
}
.t-center {
    text-align: center;
}
.t-right {
    text-align: right;
}
.d-flex {
    display: flex;
}
.flex-cal{
    flex-direction: column;
}
.s-between {
    justify-content: space-between;
}
.s-evenly {
    justify-content: space-evenly;
}
.s-around {
    justify-content: space-around;
}
.just-center {
    justify-content: center;
}
.a-items-cen {
    align-items: center;
}
.gap20 {
    gap: 20px;
}
.gap30 {
    gap: 30px;
}
.gap40 {
    gap: 40px;
}
.gap50 {
    gap: 50px;
}
.gap100 {
    gap: 100px;
}
.d-grid {
    display: grid;
}
.tem-col2 {
    grid-template-columns: repeat(2, 1fr);
}
.tem-col4 {
    grid-template-columns: repeat(4, 1fr);
}
.tem-col5 {
    grid-template-columns: repeat(5, 1fr);
}

/* header nav */
.header {
    background: var(--primary-color);
    padding: 1.8rem;
}
.navlinks ul li a{
    color: var(--dark2);
}
.banner-content h1 {
    font-size: 4rem;
    margin-top: 3.5rem;
    line-height: 5rem;
}
.banner-content p {
    margin-top: 1.5rem;
}
.banner-content .button{
    margin-top: 2rem;
}
.banner-image {
    width: var(--percent100);
    margin-top: 5rem;
}
.banner-image img{
    width: var(--percent100);
}
/* our team section */
.our-teams {
    margin-top: 5.5rem;
}
.photo-gallery .photo{
    width: var(--percent100);
}
.photo-gallery .photo img{
    width: var(--percent100);
}
.team-info .title {
    font-weight: var(--fw7);
    font-size: 3rem;
}
.team-info .title span:first-child {
    font-weight: var(--fw4);
    color: var(--dark3);
}
.team-info .title span:last-child {
    color: var(--orange);
}
.team-info .description {
    color: var(--dark3);
    margin-top: 1.5rem;
}
.team-info .button {
    margin-top: 4rem;
}
/* features section  */
.our-features {
    margin-top: 8rem;
}
.our-features .container{
    position: relative;
}

.our-features .info > .title{
    border-left: .2rem solid var(--orange);
    padding-left: .5rem;
}
.our-features .info > .description{
    margin-top: 1.8rem;
}
.features .feature{
    width: var(--percent100);
    padding: 1.8rem;
    box-shadow: var(--shadow);
    margin-top: 1.2rem;
    border-radius: 5px;
}
.features .title{
    margin: .5rem 0;
}
.our-features .image-container{
    width: 100%;
}
.experience-label {
    background-color: var(--orange);
    width: 16rem;
    height: 10rem;
    position: absolute;
    bottom: 0;
    right: 35%;
    border-radius: 5px;
}
.experience-label h2{
    font-size: 3rem;
}
.experience-label *{
    text-align: center;
    color: var(--white);
}
/* some facts section  */
.some-facts {
    margin-top: 5.5rem;
}
.some-facts .title{
    font-size: 2.5rem;
    margin: 1rem 0;
}
.some-facts .description{
    margin: 1rem 0;
}
.facts {
    margin-top: 6rem;
}
.facts .fact {
    padding: 1.7rem;
    border: 1px solid var(--orange);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.facts .fact .image-container{
    display: flex;
    justify-content: center;
}
.facts .fact .info{
    text-align: center;
}
/* facts hover effect */
.facts .fact:hover {
    box-shadow: var(--shadow);
    transform: skew(10deg, 10deg) scale(1.2);
    
}
/* our sponspors */
.our-sponspors {
    margin-top: 10rem;
}
.our-sponspors .title{
    margin: 2rem;
}
.sponspors {
    margin-top: 3rem;
}
.sponspors-logo img {
    filter: grayscale(1);
}

/* footer section  */
.footer {
    margin-top: 5rem;
    background: var(--primary-color)
}
.footer-credit {
    padding: 2rem 0;
    color: var(--dark2);
    font-size: 1.2rem;
}